@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 92%;
    --foreground: 20 14% 10%;
    --card: 210 50% 95%;
    --card-foreground: 20 14% 10%;
    --popover: 210 50% 95%;
    --popover-foreground: 20 14% 10%;
    --primary: 20 6% 15%;
    --primary-foreground: 60 9% 98%;
    --secondary: 20 6% 93%;
    --secondary-foreground: 20 6% 15%;
    --muted: 20 6% 92%;
    --muted-foreground: 20 6% 45%;
    --accent: 214 72% 48%;
    --accent-foreground: 60 9% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 210 30% 88%;
    --input: 210 30% 88%;
    --ring: 214 72% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
